<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Amortization Calculator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}" />
</head>
<body>
  <div class="container">
    <div class="card">
      <h1 class="login">Amortization Calculator</h1>
        <div class="intro" style="display: grid; grid-template-columns: auto 1fr; gap: 1rem; align-items: center;">
          <img src="/images/gif/calculator.gif" alt="Calculator" style="width:96px;height:96px;">
          <div class="subtitle">
            This tool shows you how your loan gets paid off over time. It also lets you:
            <ul>
                <li>Add extra payments to finish faster, and
                <li>Increase your monthly payment every year if your income goes up.
            </ul>
          </div>
        </div>
        <hr style="color:rgb(17, 52, 178);size:5;width:75%;">

      <form method="POST" id="calcForm">
        <div class="parent">
          <div class="inputBox">
            <input type="text" name="principal" id="principal" class="form-control" required>
            <span>Total Loan Amount</span>
          </div>
          <div class="inputBox">
            <input type="text" name="annual_rate" id="annual_rate" class="form-control" required>
            <span>Annual Interest Rate (%)</span>
          </div>
          <div class="inputBox">
            <input type="text" name="years" id="years" class="form-control" required>
            <span>Loan Tenure (years)</span>
          </div>
          <div class="inputBox">
            <input type="text" name="extra_emis" id="extra_emis" class="form-control" required>
            <span>Extra EMIs per Year</span>
          </div>
          <div class="inputBox">
            <input type="text" name="step_up_percent" id="step_up_percent" class="form-control" required>
            <span>Step-up Percentage for EMI (%)</span>
          </div>
        </div>
        <button type="submit" class="enter">Calculate Schedule</button>
      </form>
    </div>
  </div>
</body>
</html>